@font-face {
  font-family: "PingFang";
  src: url("../Fonts/PingFang.ttc");
}
@font-face {
  font-family: DINPro;
  src: url("../Fonts/DINPro.otf");
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1;
}
i {
  font-weight: normal!important;
}
.theHead {
  font-size: 5mm;
  color: #0F2540;
  font-weight: 700;
  height: 9mm;
  line-height: 9mm;
}
.theHead span {
  font-weight: 700;
}
html,
body {
  width: 210mm;
  height: 296.5mm;
  position: relative;
  font-family: "PingFang";
}
section > div {
  box-sizing: border-box;
}
.en {
  font-family: DINPro;
}
header {
  height: 9mm;
  line-height: 9mm;
}
header .circle-1 {
  height: 9mm;
  width: 9mm;
  border-radius: 4.5mm;
  background-color: #0F2540;
  color: #ffffff;
  line-height: 9mm;
  font-size: 4mm;
  text-align: center;
  float: left;
}
header span {
  float: left;
  text-align: center;
  margin-left: 3mm;
  width: 51mm;
  font-size: 6mm;
  font-weight: 900;
  color: #0F2540;
}
.circle-2 {
  height: 9mm;
  width: 9mm;
  border-radius: 4.5mm;
  background-color: #ffffff;
  color: #005CAF;
  line-height: 9mm;
  font-size: 4mm;
  text-align: center;
  float: left;
}
.circle-3 {
  height: 9mm;
  width: 9mm;
  border-radius: 4.5mm;
  background-color: #ffffff;
  color: #005CAF;
  line-height: 9mm;
  font-size: 4mm;
  text-align: center;
  float: left;
}
#leftpart {
  float: left;
  width: 78.75mm;
  height: 100%;
  background-color: #005CAF;
  font-weight: 600;
}
#leftpart header span {
  color: #ffffff;
}
#leftpart #image {
  height: 74.25mm;
  background-color: #0F2540;
  color: #ffffff;
  position: relative;
}
#leftpart #image #img {
  position: absolute;
  height: 33.6mm;
  width: 33.6mm;
  top: 6.9mm;
  left: 21.075mm;
  margin: 0 auto;
  background-image: url('../Img/lump.jpeg');
  background-size: 100% 100%;
  border-radius: 50%;
  border: 1.5mm solid #193d69;
}
#leftpart #image .title {
  position: absolute;
  bottom: 8mm;
  width: 78.75mm;
}
#leftpart #image .title h1 {
  text-align: center;
  height: 10mm;
  line-height: 10mm;
  font-size: 7mm;
}
#leftpart #image .title h2 {
  text-align: center;
  height: 8mm;
  line-height: 8mm;
}
#leftpart #contact {
  padding: 6mm 10% 0 10%;
  height: 89.1mm;
  background-color: #005CAF;
}
#leftpart #contact ul li {
  margin-top: 5mm;
  line-height: 9mm;
}
#leftpart #contact ul li span {
  font-size: 4mm;
  float: left;
  width: 51mm;
  margin-left: 3mm;
  text-align: center;
  color: #ffffff;
}
#leftpart #skills {
  padding: 6mm 10%;
  height: 133.15mm;
  background-color: #005CAF;
}
#leftpart #skills ul li {
  margin-top: 5mm;
  line-height: 9mm;
}
#leftpart #skills ul li span {
  color: #ffffff;
  font-size: 4mm;
  float: left;
  width: 51mm;
  margin-left: 3mm;
  text-align: center;
}
#leftpart #skills ul li:first-child .progress-room div {
  width: 60%;
}
#leftpart #skills ul li:nth-child(2) .progress-room div {
  width: 70%;
}
#leftpart #skills ul li:nth-child(3) .progress-room div {
  width: 50%;
}
#leftpart #skills ul li:nth-child(4) .progress-room div {
  width: 65%;
}
#leftpart #skills ul li:nth-child(5) .progress-room div {
  width: 45%;
}
#leftpart #skills ul .progress-room {
  width: 51mm;
  background-color: #ffffff;
  height: 2.5mm;
  border-radius: 1.5mm;
  margin-top: 3mm;
  float: right;
  position: relative;
}
#leftpart #skills ul .progress-room div {
  background-color: #0F2540;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2.5mm;
  border-radius: 1.5mm;
  margin-top: 3mm;
  float: right;
}
#rightpart {
  float: right;
  width: 131.25mm;
  height: 100%;
}
#rightpart #intro {
  padding: 5mm 10% 0 10%;
  height: 81.92mm;
}
#rightpart #intro header span {
  width: 93mm;
}
#rightpart #intro .content {
  margin-top: 2mm;
  font-size: 0.9em;
  line-height: 6mm;
}
#rightpart #intro .content h1 {
  font-size: 5mm;
  color: #0F2540;
  font-weight: 700;
  height: 9mm;
  line-height: 9mm;
}
#rightpart #intro .content h1 span {
  font-weight: 700;
}
#rightpart #intro .content span {
  font-family: DINPro;
}
#rightpart #intro .content li {
  list-style: disc;
  list-style-position: inside;
}
#rightpart #internship {
  padding: 0 10%;
  height: 45mm;
}
#rightpart #internship header span {
  width: 93mm;
}
#rightpart #internship header div {
  margin-top: 0;
}
#rightpart #internship div {
  margin-top: 2mm;
}
#rightpart #internship div p {
  line-height: 8mm;
  height: 8mm;
  font-weight: 700;
  float: left;
}
#rightpart #internship div p span {
  color: #005CAF;
  font-weight: 700;
}
#rightpart #internship div div {
  line-height: 8mm;
  height: 8mm;
  margin: 0 0 0 2mm;
  float: left;
}
#rightpart #internship div div span {
  font-weight: 700;
}
#rightpart #experience {
  position: relative;
  padding: 0 10%;
  height: 169.58mm;
}
#rightpart #experience header span {
  width: 93mm;
}
#rightpart #experience ul .code {
  font-weight: 600;
  text-align: center;
  bottom: 6mm;
  position: absolute;
  opacity: 0.6;
  color: #0F2540;
  font-size: 0.9em;
  left: 22mm;
  width: 93mm;
  line-height: 6mm;
}
#rightpart #experience ul span {
  font-family: DINPro;
}
#rightpart #experience ul li {
  margin-top: 3mm;
  width: 100%;
}
#rightpart #experience ul li h1 {
  font-size: 5mm;
  color: #0F2540;
  font-weight: 700;
  height: 9mm;
  line-height: 9mm;
}
#rightpart #experience ul li h1 span {
  font-weight: 700;
}
#rightpart #experience ul li .tags span {
  color: #ffffff;
  background-color: #005CAF;
  display: inline-block;
  padding: 0mm 2mm;
  font-size: 4mm;
  font-weight: 700;
  height: 7mm;
  line-height: 7mm;
  border-radius: 1.75mm;
  margin: 0 0 1.5mm 0;
}
